<main>
  <section class="EditBlock">
    <%= form_with model: @block, url: "/admin/blocks/#{@id}", local: true, class: "Form" do |block_form| %>
      <%= block_form.label :title, class: "Form-label" %>
      <%= block_form.text_field :title, class: "Form-text" %>
      <%= block_form.submit class: "Form-submit" %>
    <% end %>
  </section>

  <section class="Flashcards">
    <% @block.flashcards.sort.each do |flashcard| %>
      <div class="Flashcard">
        <%= form_with model: flashcard, url: "/admin/flashcards/#{flashcard.id}", class: "Form" do |form| %>
          <%= render "admin/blocks/partials/flashcard",
                    form: form,
                    id: flashcard.id,
                    block_id: @id %>
        <% end %>
        <%= button_to "Delete", "/admin/flashcards/#{flashcard.id}", method: :delete, class: "Flashcard-delete" %>
      </div>
    <% end %>
    <div class="Flashcard">
      <%= form_for Flashcard.new, url: "/admin/flashcards", class: "Form" do |form| %>
        <%= render "admin/blocks/partials/flashcard",
                  form: form,
                  id: "",
                  block_id: @id %>
      <% end %>
    </div>
  </section>
</main>